{{#if addNewPost}}
    <h3>New Post</h3>
    <div>
      <form>
        <div class="form-group">
          <label for="headline">Headline</label>
          {{input value=headline id="headline"}}
        </div>

        <div class="form-group">
          <label for="date">Date</label>
          {{input value=date id="date"}}
        </div>

        <div class="form-group">
          <label for="blurb">Blurb</label>
          {{input value=blurb id="blurb"}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=image id="image"}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="body">Body</label>
          {{input value=body id="body"}}
        </div>

        <div class="form-group">
          <label for="category">Category</label>
          {{input value=category id="category"}}
        </div>

        <button {{action 'savePost'}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'postFormShow'}}>New Post</button>
{{/if}}
