<h3>{{post.headline}}</h3>
<p><img src={{post.image}} alt={{post.category}}></p>
<h4>By {{post.author}}</h4>
<h5>Publish on {{post.date}}</h5>
<p>{{post.body}}</p>
<!-- <p>category:{{post.category}}</p> -->
<button {{action 'delete' post}}>Delete</button>

<h2> Comments </h2>
<ul>
  {{#each post.comments as |comment|}}
    {{comment-tile comment=comment destroyComment="destroyComment"}}
  {{/each}}
</ul>
